.DS_Store
.idea
node_modules

#Hardhat files
cache
artifacts
typechain
build
contracts/@*
.env
contracts-exposed
product_nft_renders
product_nft_metadata
arguments.js
fetchServerFile.js
createAndUploadMetadata.js
viewSpaceFiles.js
ProductNft.ts
ProductNft
membershipV2.sol
membership_nft_renders

